# {{ AppName }} - {{ AppDescription }}

> This is an *cloud-native infrastructure stack* solution template for running
> {{ AppName }} using [Docker](https://www.docker.com/) and [Docker Compose](https://docs.docker.com/compose/).

## Pre-Requisites

The following minimal requirements must be met before you can use this template:

* [Docker](https://www.docker.com/) installed on your machine
* [Docker Compose](https://docs.docker.com/compose/) installed on your machine

## Installation

To install this template, simply clone this repository and run the following command:

```bash
$ git clone
```

## Usage

To use this template, simply run the following command:

```bash
$ docker-compose up
```

## Documentation

For more information about this template, please refer to the following documentation:



